<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.universe.sjl.dao.TestDAO">
    <select id="getAll" resultType="GameAdministrator">
        select *
        from s_game_administrator
    </select>

</mapper>